.header-container{
	padding:0 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-container div{
	align-self:center;
}
.header-container a{
	margin:10px;
	color:grey;
}
.header-container a:hover{
	text-decoration: none;
	color:darkgrey;
}